<div q-panel="search" q-panel-position="top" q-panel-direction="top" class=" hidden md:w-[360px] w-full xs:w-9/12 h-max
     flex-col gap-5 bg-white  px-4 py-5 ">
    <div class="flex flex-col ">
        <div class=" justify-start flex-col flex items-center  gap-2">
            <div class=" flex justify-between w-full  items-center sticky top-0 ">
                <div class=" text-[20px] text-white font-bold">البحث</div>

                <button aria-label="البحث"
                    class=" w-[24px] h-[24px] flex items-center justify-center"
                    q-close-panel="search">
                    <i class="fi flex text-lg items-center fi-rr-cross-small"></i>
                </button>

            </div>
            <div class=" w-full flex flex-col gap-4">
                <span class=" text-2xl4 font-bold text-[#242424]">ما الذي تبحث عنه ؟</span>
                <div class=" w-full flex rounded-full border border-[#E5E6E6] h-[50px] p-[5px] items-center">
                    <input :value="window.__qumra__?.context.search?.q" x-model="search" placeholder="ابحث هنا..."
                        class="flex-1 outline-none h-full px-2 bg-white rounded-full" type="text">
                    <div x-on:click="window.setSearch(search)"
                        class=" flex h-[40px] bg-mainColor cursor-pointer w-[40px] rounded-full items-center justify-center">
                        <i class="fi md:text-[28px] text-2xl text-white fi-rr-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>