<script src="{{'filterProperties.js' | assets}}"></script>
<div q-panel="filter" q-panel-position="left" q-panel-direction="left"
  class="hidden md:w-[360px] w-full xs:w-9/12 flex-col gap-4 bg-white">
  <div class="flex flex-col h-full gap-6">

    <!-- Header -->
    <div class="flex bg-white border-b border-[#E5E6E6] justify-between p-4 sticky top-0">
      <div class="flex gap-2 items-center">
        <p class="text-[#313535] text-xl font-bold">تصفية حسب</p>
      </div>
      <button aria-label="إغلاق التصفية"
        class="bg-[#F5F6F6] border border-[#ECEEEE] w-[24px] h-[24px] flex items-center justify-center"
        q-toggle="filter">
        <i class="fi flex items-center fi-rr-cross-small"></i>
      </button>
    </div>

    <!-- Filter Content -->
    <div class="flex flex-col gap-4 px-6 overflow-y-auto"
      x-data="xDataPropertiesFilter()">

      {# <div x-show="decodeURIComponent(window.location.pathname.split('/')[1]) == category"> #}
      {% include "../filterCategory/index.njk" ignore missing %}
      {# </div> #}

      {% include "../priceing/index.njk" ignore missing %}
      {% include "../filterColor/index.njk" ignore missing %}
      {% include "../filterText/index.njk" ignore missing %}

    </div>
  </div>
</div>
