{% extends "layouts/layout.njk" %}

{% block content %}

<script src="{{ 'product.js' | assets }}"></script>

<div class="min-h-screen flex flex-col gap-8 md:gap-10 container py-8 md:pt-[60px]"
    x-data="xDataproduct(context.product)">

    <!-- صور المنتج -->
    <div class="relative grid md:items-start md:grid-cols-12 gap-y-6 md:gap-10">
        <div x-data="{ imgSelected:0 }" class="md:sticky md:top-20 md:col-span-4">
            <div class="w-full flex flex-col gap-4">
                <img class="h-full w-full rounded-lg border border-borderColor"
                    style="object-fit: contain; height: 356px;" :src="context.product.images[imgSelected].imageUrl"
                    alt="صورة المنتج" loading="lazy">
                <div class="flex w-full overscroll-auto scrollbar-custom gap-4 ">
                    <template x-for="(image, index) in context.product.images.slice(0, 3)" :key="index">
                        <img @click="imgSelected = index"
                            class=" w-[60px] h-[60px] md:w-[80px] md:h-[80px] rounded-lg border object-cover cursor-pointer" :src="image.imageUrl"
                            :class="imgSelected === index ? 'border-mainColor' : 'border-borderColor'">
                    </template>
                </div>
            </div>
        </div>

        <!-- تفاصيل المنتج -->
        <div class="md:col-span-5">
            <form class="flex flex-col gap-8" enctype="multipart/form-data" method="post" id="productForm">
                <input type="hidden" name="product" :value="context.product._id">
                <div class="flex flex-col gap-2">
                    <h1 class="text-xl text-customGray break-all" x-text="context?.product?.category?.title"></h1>
                    <p class="text-2xl font-bold text-customBlack break-all" x-text="context.product.title"></p>
                </div>

                <!-- تقييم -->
                <div class="flex gap-4 items-center">
                    <div x-show="context.product.rate > 0" class="flex gap-1 items-center">
                        <template x-for="i in [...Array(context.product.rate).keys()]" :key="i">
                            <svg width="16" height="14" fill="#FFD401" viewBox="0 0 16 14">
                                <path d="..." />
                            </svg>
                        </template>
                    </div>
                    <div class="text-customBlack">
                        <span x-show="context.product.rateCount === 0">لا يوجد تقييمات</span>
                        <span x-show="context.product.rateCount !== 0">تقييما</span>
                    </div>
                </div>

                <!-- السعر -->
                <div class="flex flex-col gap-3">
                    <div x-show="context.product.discount != 0" class="flex gap-2 items-center">
                        <div class="font-bold text-mainColor text-2xl">
                            <span x-text="context.product.priceAfterDiscount"></span>
                            <span x-text="currency"></span>
                        </div>
                        <div class="line-through text-gray-400">
                            <span x-text="context.product.price"></span>
                            <span x-text="currency"></span>
                        </div>
                    </div>
                    <div :class="context.product.status === 'AVAILABLE' ? 'text-mainColor' : 'text-red-500'"
                        class="font-bold text-sm flex gap-2 items-center">
                        <i class="fi fi-rr-check-circle"></i>
                        <div x-text="context.product.status === 'AVAILABLE' ? 'متوفر في المعرض' : 'غير متوفر'"></div>
                    </div>
                </div>
                <span x-effect="console.log('addToCarloadingt',loading.addToCart)"></span>
                <!-- المحتوى -->
                <div class="text-sm text-subColor whitespace-wrap break-words" x-html="context.product.content"></div>

                <!-- الخصائص -->
                {% if context.product.properties.length > 0 %}
                <div class="pt-6 border-t w-full font-bold flex flex-col gap-2 items-center text-customBlack"
                    style="border-color: #D9D9D9">
                    <qumra-product-options class="w-full" :main-color="data.app.settings.mainColor" product={{
                        context.product._id }} data="{{ context.product.properties | dump }}">
                    </qumra-product-options>
                </div>
                {% endif %}
                <span x-effect="console.log('loadingkhalid',loading.addToCart)"></span>
                <!-- أزرار السلة والشراء -->
                <div class="flex flex-col gap-4">
                    <div x-show="!context.product?.privatePrice" class="font-bold flex flex-col items-center gap-3">
                        <div class="flex gap-6 items-center w-full">
                            <div class=" flex w-[136px] h-10 items-center gap-2">
                                <span
                                    class="flex w-full h-full items-center justify-center border rounded-mainRadius border-[#E5E5E5] cursor-pointer"
                                    @click="decreaseCartItem(quntity)">
                                    <i class="fi text-lg fi-rr-minus-small"></i>
                                </span>

                                <input name="quantity" step="1" :value="quntity" min="1"
                                    class="w-full h-full bg-[#F3F3F3] text-center rounded-mainRadius flex items-center justify-center"></input>

                                <span
                                    class="flex w-full h-full items-center justify-center border rounded-mainRadius border-[#E5E5E5] cursor-pointer"
                                    @click="increaseCartItem(quntity)">
                                    <i class="fi text-lg fi-rr-plus-small"></i>
                                </span>

                            </div>

                            <button id="addToCartBtn" type="submit" name="addToCart" value="addToCart"
                                class="flex-1 border-[#262E3A] border rounded-mainRadius flex justify-center items-center px-4 h-[50px] gap-2">

                                <span id="addToCartLoader" style="display: none;">
                                    <svg class="animate-spin h-5 w-5 text-mainColor" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24">
                                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                            stroke-width="4"></circle>
                                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z"></path>
                                    </svg>
                                </span>

                                <span id="addToCartText">إضافة للسلة</span>
                            </button>

                        </div>

                        <button id="buyNowBtn" aria-label="اشتري الان" type="submit" name="buyNow" value="buyNow"
                            class="bg-mainColor w-full text-white font-bold rounded-mainRadius flex items-center px-4 h-[50px] justify-center gap-2">

                            <span id="buyNowText">اشترى الآن</span>

                            <span id="buyNowLoader" style="display: none;">
                                <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                        stroke-width="4" />
                                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v8z" />
                                </svg>
                            </span>
                        </button>

                    </div>
                    <template x-if="context.product?.privatePrice">
                        <div class="flex items-center justify-between gap-3 w-full">
                            <!-- زرار واتساب -->
                            <button type="button" @click="priceAtCallMethod('whatsapp')" aria-label="تواصل الان"
                                value="buyNow"
                                class="bg-mainColor w-full flex items-center px-4 h-[50px] justify-center text-white font-bold rounded-mainRadius">
                                <template x-if="!(loading.priceAtCallWhatsApp && localType === 'whatsapp')">
                                    <div class="flex items-center w-full gap-2 h-[50px] justify-center">
                                        <svg width="20" height="20" viewBox="0 0 19 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.66699 2.04797C5.32472 2.04797 1.79199 5.52265 1.79199 9.79349C1.79199 11.1247 2.14108 12.4377 2.80157 13.5905C2.89854 13.7597 2.92397 13.9536 2.87323 14.1362C2.68029 14.8302 2.37497 15.943 2.18225 16.6462C2.13028 16.8355 2.16864 17.0333 2.28722 17.1888C2.40478 17.3429 2.5895 17.4349 2.78132 17.4349C2.8352 17.4349 2.88932 17.4278 2.94208 17.4139C3.69347 17.216 5.05584 16.8603 5.73759 16.7008C5.79069 16.6883 5.84525 16.682 5.89959 16.682C6.00444 16.682 6.10952 16.7059 6.20357 16.7513C7.2866 17.2737 8.45188 17.5387 9.66699 17.5387C14.0093 17.5387 17.542 14.0641 17.542 9.79315C17.542 5.5222 14.0093 2.04797 9.66699 2.04797Z"
                                                fill="white" />
                                        </svg>
                                        تواصل الان whatsapp
                                    </div>
                                </template>

                                <template x-if="loading.priceAtCallWhatsApp && localType === 'whatsapp'">
                                    <qumra-loading borderType="dashed" color="white" loading-size="20px"
                                        loading="true"></qumra-loading>
                                </template>
                            </button>

                            <!-- زرار الاتصال -->
                            <button type="button" @click="priceAtCallMethod('call');"
                                x-show="data?.app?.socialMedia?.phone" target="_blank" aria-label="تواصل الان"
                                value="buyNow"
                                class="bg-mainColor w-full text-white font-bold rounded-mainRadius flex items-center px-4 h-[50px] justify-center">
                                <template x-if="!(loading.priceAtCall && localType === 'call')">
                                    <div class="flex items-center h-[50px] w-full gap-2 justify-center">
                                        <i class="fi flex items-center fi-rr-phone-call text-white"></i>
                                        تواصل الان phone
                                    </div>
                                </template>

                                <template x-if="loading.priceAtCall && localType === 'call'">
                                    <qumra-loading borderType="dashed" color="white" loading-size="20px"
                                        loading="true"></qumra-loading>
                                </template>
                            </button>
                        </div>
                    </template>


                </div>
            </form>
        </div>

        <!-- المنتجات المقترحة -->
        <div class="md:col-span-3 border border-borderColor rounded-lg flex flex-col gap-6">
            <div class="py-4 px-6 font-bold text-xl border-b text-customBlack border-borderColor">
                منتجات قد تعجبك
            </div>
            <div class="flex flex-col p-6 pt-0 gap-6">

                <template x-show="context.relatedProducts.results.length > 0" x-for="item in context.relatedProducts.results.slice(0, 4)" :key="item.id">
                    <a :href="`/product/${item.slug}`" class="flex items-center gap-3">
                        <img class="w-[55px] h-[55px] object-contain rounded" :src="item.images[0].imageUrl" alt="">
                        <div>
                            <p class="font-bold break-words" x-text="item.title"></p>
                            <div class="flex items-center text-customGray">
                                <p x-text="item.priceAfterDiscount"></p>
                                <span x-text="currency"></span>
                            </div>
                        </div>
                    </a>
                </template>

                <div class=" flex flex-col items-center gap-4" x-show="context.relatedProducts.results.length == 0">
                    <i class="fi fi-rr-drawer-empty text-2xl"></i>
            <p>لا يوجد منتجات مرتبطة بهذا المنتج</p>
                </div>
            </div>
        </div>
    </div>

    <!-- منتجات مشابهة -->
    <div x-show="context.relatedProducts.results.length > 0" class="flex flex-col gap-6 mt-10">
        <div class="flex justify-between">
            <h2 class="font-bold text-2xl text-customBlack">منتجات مشابهة</h2>
            <a href="/latest" class="font-bold text-md text-mainColor">عرض المزيد</a>
        </div>

        <div class="relative w-full">
            <qumra-slider-multi :navigation-color="data.app.settings.mainColor" :slides-per-view="5"
                :space-between="10">
                <template x-for="item in context.relatedProducts.results" :key="item.id">
                    <qumra-slider-item>
                        <qumra-product-card :product="JSON.stringify(item)"></qumra-product-card>
                    </qumra-slider-item>
                </template>
            </qumra-slider-multi>
        </div>
    </div>
</div>

{% endblock %}