<div class="  sticky top-0 z-50">
    <div class=" md:block hidden bg-mainColor ">
        <div class=" flex  container items-center justify-between py-3 ">
            <div class=" flex items-center gap-6">
                <div class="flex items-center gap-2">
                    <i class="fi fi-rr-shipping-fast text-white text-xl"></i>
                    <p class=" text-sm font-bold text-white">احصل على توصيل مجاني للمنزل (عند الطلب بأكثر من 1000 جنية
                        مصرى)</p>
                </div>
                <div class="flex items-center gap-2">
                    <i class="fi fi-rr-envelope text-white text-xl"></i>
                    <p x-text="data.app.socialMedia.email" class=" text-sm font-bold text-white">Majarah@gmail.com</p>
                </div>
            </div>
            <div class=" flex items-center gap-6">
                <a :href="customer && typeof customer === 'object' && Object.keys(customer).length > 0 ? `${data?.app?.url}/customer/logout?redirect_url=${window.location.href}` : `${data?.app?.url}/customer/login?redirect_url=${window.location.href}`"
                    class="flex items-center gap-2">
                    <i class="fi fi-rr-circle-user text-white text-xl"></i>
                    <p x-text="customer && typeof customer === 'object' && Object.keys(customer).length > 0 ? 'تسجيل الخروج' : 'تسجيل الدخول'"
                       class="text-sm font-bold text-white"></p>
                 </a>
                <div class=" flex items-center gap-2">
                    <i class="fi fi-rr-interrogation text-white text-xl"></i>
                    <p class=" text-sm font-bold text-white">مساعدة</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-subColor">
        <div class=" flex justify-between container items-center py-5">
            <div q-toggle="sidebar"
                style="background-color: color-mix(in srgb, {{global.app.settings.subColor}}, white 15%)"
                class="cursor-pointer  w-10 h-10 rounded-full  md:hidden flex  items-center justify-center">
                <i class="fi fi-rr-menu-burger text-white md:text-[28px] text-2xl"></i>
            </div>
            <img class="md:w-20 w-14  object-contain" :src="data.app.logoUrl" alt="...">
            <div class="w-7/12 md:flex hidden  items-center gap-6">
                <div class=" w-full bg-white hidden md:flex rounded-full h-[60px] py-[5px] px-[7px] items-center">
                    <input :value="context.search?.q" x-model="search" placeholder="ابحث هنا..."
                        class="flex-1 outline-none h-full px-2 bg-white rounded-full" type="text">
                    <div x-on:click="window.setSearch(search)"
                        class=" flex h-[50px] bg-mainColor cursor-pointer w-[50px] rounded-full items-center justify-center">
                        <i class="fi md:text-[28px] text-2xl text-white fi-rr-search"></i>
                    </div>
                </div>
                <div style="background-color: color-mix(in srgb, {{global.app.settings.subColor}}, white 15%)"
                    class="px-6  rounded-full flex  items-center gap-2 p-2">
                    <i class="fi md:text-[28px] text-2xl text-mainColor fi-rr-phone-call"></i>
                    <div class="flex flex-col gap-1">
                        <p class=" text-sm text-nowrap text-white">دعم فني متاح 24/7</p>
                        <p x-text="data.app.socialMedia.phone" class=" font-bold text-nowrap text-white"></p>
                    </div>
                </div>
            </div>
            <div class=" flex items-center gap-3">
                <div q-toggle="search"
                    style="background-color: color-mix(in srgb, {{global.app.settings.subColor}}, white 15%)"
                    class="cursor-pointer w-10 h-10  rounded-full flex md:hidden items-center justify-center">
                    <i class="fi md:text-[28px] text-2xl text-white fi-rr-search"></i>
                </div>
                <div q-toggle="cart"
                    style="background-color: color-mix(in srgb, {{global.app.settings.subColor}}, white 15%)"
                    class="cursor-pointer w-10 h-10 md:w-[60px] md:h-[60px]  relative rounded-full flex items-center justify-center">
                    <i class="fi fi-rr-shopping-cart text-white md:text-[28px] text-2xl"></i>
                    <span x-text="cart?.items.length"
                        class="w-4 md:w-5 h-4 md:h-5 rounded-full flex items-center justify-center text-white bg-mainColor absolute top-0 right-0 text-[10px] md:text-sm translate-y-0 translate-x-0  ">0</span>
                </div>
                <div q-toggle="sidebar"
                    style="background-color: color-mix(in srgb, {{global.app.settings.subColor}}, white 15%)"
                    class="cursor-pointer  w-[60px] h-[60px] rounded-full  hidden md:flex  items-center justify-center">
                    <i class="fi fi-rr-menu-burger text-white md:text-[28px] text-2xl"></i>
                </div>
            </div>
        </div>
    </div>
</div>