{% extends "layouts/layout.njk" %}
{% block content %}
<div class="py-10 md:py-8" x-data="xDataCart()">
    <div class=" flex flex-col gap-[60px]">
        <div x-show="cart?.items?.length > 0" class=" flex flex-col gap-8 md:gap-10 container md:px-4">
            <div class=" flex flex-col gap-1">
                <h1 x-text="context.page.title" class=" font-bold text-2xl text-customBlack"></h1>
                <p class=" text-customBlack">راجع منتجاتك وأكمل طلبك بخطوات سهلة وسريعة</p>
            </div>
            <div class="flex md:flex-row flex-col gap-[54px]">
                <div class=" w-full  md:block hidden ">
                    <table class="w-full">
                        <thead>
                            <tr class="border-b border-borderColor">
                                <th class="p-4 font-bold text-xl text-end ">المنتج</th>
                                <th class="p-4 font-bold text-xl text-end ">السعر</th>
                                <th class="p-4 font-bold text-xl text-end ">الكمية</th>
                                <th class="p-4 font-bold text-xl text-end ">الاجمالي</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template x-for="item in cart?.items" :key="item.id">
                                <tr class="h-[100px] border-b border-borderColor">
                                    <td class="w-[259px] overflow-hidden">
                                        <div class=" flex items-center break-words gap-3">
                                            <button @click="clearCartItem(item._id)" aria-label="الحذف من السلة">
                                                <i class="fi text-2xl  text-customBlack fi-rr-cross-small"></i>
                                            </button>
                                            <img :src="item.product.images[0].imageUrl"
                                                class="w-[55px] h-[55px] md:w-[60px] md:h-[60px] object-contain rounded-lg"
                                                alt="صورة المنتج">
                                            <span x-text="item.product.title"
                                                class=" font-bold text-customBlack"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <span x-show="item?.priceAfterDiscount" class=" font-bold text-mainColor"
                                            x-text="item?.priceAfterDiscount">
                                            0
                                        </span>
                                    </td>
                                    <td>
                                        <div class="flex items-center gap-2">
                                            <span
                                                class=" flex w-8 h-8 items-center justify-center border rounded-mainRadius border-[#E5E5E5] cursor-pointer"
                                                @click="decreaseCartItem(item._id,item.quantity)"><i
                                                    class="fi fi-rr-minus-small"></i></span>
                                            <span
                                                class="w-8 h-8 bg-[#F3F3F3] rounded-mainRadius flex items-center justify-center"
                                                x-text="item.quantity"></span>
                                            <span
                                                class=" flex w-8 h-8 items-center justify-center border rounded-mainRadius border-[#E5E5E5] cursor-pointer"
                                                @click="increaseCartItem(item._id, item.quantity)"><i
                                                    class="fi fi-rr-plus-small"></i></span>
                                        </div>
                                    </td>
                                    <td>
                                        <span x-show="item?.totalPriceForItem" class=" font-bold text-mainColor"
                                            x-text="item?.totalPriceForItem">
                                            0
                                        </span>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>

                <div class="flex flex-col gap-4  md:hidden ">
                    <template x-for="item in cart?.items" :key="item.id">
                        <div class=" border border-borderColor rounded-lg p-3 flex flex-col gap-4">
                            <div class=" flex justify-between ">
                                <img :src="item.product.images[0].imageUrl"
                                    class="w-20 h-20 md:w-[60px] md:h-[60px] object-contain rounded-lg"
                                    alt="صورة المنتج">

                                <div><i class="fi text-2xl cursor-pointer  text-customBlack fi-rr-cross-small"></i>
                                </div>
                            </div>
                            <div class="">
                                <div class=" border-t py-[14px] flex items-center gap-4 ">
                                    <span class=" font-bold">المنتج :</span>
                                    <span x-text="item.product.title" class=" text-customBlack"></span>
                                </div>
                                <div class=" border-t py-[14px] flex items-center gap-4 ">
                                    <span class=" font-bold">السعر :</span>
                                    <span x-show="item?.priceAfterDiscount" class=" text-mainColor"
                                        x-text="item?.priceAfterDiscount">
                                        0
                                    </span>
                                </div>
                                <div class=" border-t py-[14px] flex items-center gap-4 ">
                                    <span class=" font-bold">الكمية :</span>
                                    <div class="  grid w-[112px] grid-cols-3  h-8 items-center gap-2">
                                        <span
                                            class=" flex w-full h-full items-center justify-center border rounded-mainRadius border-[#E5E5E5] cursor-pointer"
                                            @click="decreaseCartItem(item._id,item.quantity)"><i
                                                class="fi fi-rr-minus-small"></i></span>
                                        <span
                                            class="w-full h-full bg-[#F3F3F3] rounded-mainRadius flex items-center justify-center"
                                            x-text="item.quantity"></span>
                                        <span
                                            class=" flex w-full h-full items-center justify-center border rounded-mainRadius border-[#E5E5E5] cursor-pointer"
                                            @click="increaseCartItem(item._id, item.quantity)"><i
                                                class="fi fi-rr-plus-small"></i></span>
                                    </div>
                                </div>
                             
                                <div class=" border-t py-[14px] flex items-center gap-4 ">
                                    <span class=" font-bold">الاجمالي :</span>
                                    <span x-show="item?.totalPriceForItem" class=" text-mainColor"
                                        x-text="item?.totalPriceForItem">
                                        0
                                    </span>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>

                <div class=" md:w-1/3 border-2 h-max border-mainColor rounded-xl p-6 flex flex-col gap-6">
                    <div class=" border-b pb-4 text-2xl font-bold text-customBlack border-borderColor">
                        اجمالي سلة التسوق
                    </div>
                    <div class=" flex flex-col gap-4">
                        <div class=" flex justify-between">
                            <span class=" text-xl text-customGray">اجمالي المنتجات</span>
                            <span x-show="cart?.totalProducts" class="text-xl text-black"
                                x-text="cart?.totalProducts">
                                0
                            </span>
                        </div>
                        <div class=" flex justify-between">
                            <span class="text-customGray text-xl ">توفير</span>
                            <span class="text-black text-xl" x-text="cart?.productDiscount">
                                0
                            </span>
                        </div>
                        <div class=" flex justify-between border-t border-borderColor">
                            <span class="text-black font-bold text-2xl ">الإجمالي</span>
                            <span class="text-black text-xl" x-text="cart?.totalProductsAfterDiscount">
                                0
                            </span>
                        </div>
                    </div>

                    <button :disabled="loading.checkout" aria-label="اتمام الطلب" @click="checkout()"
                        class="py-2  rounded-mainRadius bg-mainColor h-[56px] text-mainColor w-full">
                        <span x-show="!loading.checkout" class="text-white text-xl font-bold"> اتمام الطلب</span>
                        <template x-if="loading.checkout">
                            <div class=" flex justify-center ">
                                <qumra-loading color={data.app.settings.mainColor} loading-size="20px"
                                    loading={true}></qumra-loading>
                            </div>
                        </template>
                    </button>

                </div>
            </div>
        </div>

    </div>

    <div x-show="cart?.items && cart?.items?.length === 0" class=" w-full h-screen flex justify-center items-center">
        <div class="flex flex-col items-center gap-2">
            <i class="fi flex items-center text-9xl text-[#777777] fi-rr-box-open"></i>
            <div class=" font-bold text-[#777777] text-[32px]">سلتك فارغة</div>
        </div>

    </div>

</div>
{% endblock %}
<script src={{"cart.js" | assets}}></script>