<template x-for="item in context.products" :key="item._id">
    <div class="flex flex-col gap-3 pb-4 h-full rounded-lg" x-data="xDataproduct()"
        style="box-shadow: 0px 0px 10px #E4E4E4">
        <a :href="item.slug ? `/product/${item.slug}` : '#'">
            <div class="overflow-hidden relative rounded-t-lg">
                <img class="hover:scale-105 w-full rounded-t-lg transition-all duration-300 object-cover h-[160px]"
                    :src="item.images[0].imageUrl" alt="صورة المنتج" />
                <span x-show="item.discount > 0"
                    class="absolute top-[10px] right-[10px] py-[2px] px-2 bg-mainColor rounded-full text-white text-sm">
                    <span x-text="`-${item.discount}`"></span>
                    <span x-text="item.discountType === 'percent' ? '%' : data.app.currency.currencySymbol"></span>
                </span>
            </div>
        </a>

        <div class="px-3 flex flex-col gap-4 h-full justify-between">
            <a :href="item.slug ? `/product/${item.slug}` : '#'" class="flex flex-col gap-1">
                <p x-text="item.title" class="text-[#313535] h-11 font-bold overflow-hidden text-base break-words"></p>

                <div x-show="item.rate > 0" class="flex items-center gap-[6px]">
                    <div class="flex items-center gap-1">
                        <template x-for="star in 5">
                            <svg width="10" height="11" viewBox="0 0 10 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                :class="star <= Math.round(item.rate) ? 'fill-[#FFD401]' : 'fill-[#E4E4E4]'">
                                <path d="..." />
                            </svg>
                        </template>
                    </div>
                    <span x-text="item.rateCount" class="text-[#6D7676] text-xs"></span>
                </div>

                <span x-show="item.rate === 0" class="text-[#6D7676] text-xs">لا يوجد تقيمات</span>

                <div class="flex flex-wrap items-center gap-x-1">
                    <div x-show="item.priceAfterDiscount > 0" class="flex items-center">
                        <span x-text="item.priceAfterDiscount" class="text-mainColor text-lg font-bold"></span>
                        <span x-text="data.app.currency.currencySymbol" class="text-mainColor text-lg font-bold"></span>
                    </div>
                    <div x-show="item.discount > 0" class="flex items-center gap-1">
                        <span x-text="item.price" class="line-through text-[#6D7676] text-sm"></span>
                        <span x-text="data.app.currency.currencySymbol" class="text-[#6D7676] text-lg font-bold"></span>
                    </div>
                </div>
            </a>
            <!-- الأزرار -->
            <div class="flex gap-2 items-center w-full">
                <!-- زر أضف إلى السلة -->
                <button x-show="!item.privatePrice"
                    class="h-10 flex w-full cursor-pointer justify-center border-mainColor border text-mainColor rounded-mainRadius items-center gap-2"
                    @click="addProductToCart(item._id, 1)" :disabled="loading.addToCart">
                    <i x-show="!loading.addToCart " class="fi flex items-center fi-rr-shopping-cart"></i>
                    <span x-show="!loading.addToCart ">أضف إلى السلة</span>
                    <div x-show="loading.addToCart "
                        class="w-6 h-6 flex border-2 !border-t-transparent border-mainColor rounded-full animate-spin">
                    </div>
                </button>
                <!-- السعر عند الاتصال -->
                <div x-show="item.privatePrice" class="flex flex-col gap-1 w-full">
                    <span class="text-[#6D7676] text-sm">السعر عند الاتصال:</span>
                    <div class="flex items-center gap-2">
                        <!-- اتصال -->
                        <button
                            class="h-8 flex w-full cursor-pointer justify-center bg-[#20B038] text-white rounded-mainRadius items-center gap-2"
                            @click="priceAtCallMethod('call')" :disabled="loading.priceAtCall">
                            <i x-show="!loading.priceAtCall" class="fi flex items-center fi-rr-phone-call"></i>
                            <span x-show="!loading.priceAtCall">اتصال</span>
                            <div x-show="loading.priceAtCall"
                                class="w-6 h-6 flex border-2 !border-t-transparent border-white rounded-full animate-spin">
                            </div>
                        </button>

                        <!-- واتساب -->
                        <button
                            class="h-8 flex w-full cursor-pointer justify-center bg-[#2899F3] text-white rounded-mainRadius items-center gap-2"
                            @click="priceAtCallMethod('whatsapp')" :disabled="loading.priceAtCallWhatsApp">
                            <i x-show="!loading.priceAtCallWhatsApp" class="fi flex items-center fi-rr-whatsapp"></i>
                            <span x-show="!loading.priceAtCallWhatsApp">واتساب</span>
                            <div x-show="loading.priceAtCallWhatsApp"
                                class="w-6 h-6 flex border-2 !border-t-transparent border-white rounded-full animate-spin">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src={{"product.js" | assets}}></script>